
@mixin underline ($left: -10%, $width: 120%){
  position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: $left;
      width: 0;
      height: 1px;
      background-color: black;
      transition: width 1s;
    }
    &:hover {
      &:after {
        width: $width;
      }
    }
};

